.nav-bar{ 
display:flex;
flex-direction:row;
list-style-type: none;
justify-content: space-around;
background-color: rgb(192, 255, 213);
max-width:100%;
}

li a {
display:block;
text-decoration: none; 
color: black;
padding: 25px;
width: 100%;
text-align:center;
}

li a:hover {
background-color: rgb(157, 226, 140);
}

main {
  background-color: rgb(214, 240, 221);
}
#profile {
height: 50vh;  
width: 100%;
background-image: url("../images/road.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position-y: 70%;
opacity: 0.9;
position: relative;
}

.profile-text { 
  position: absolute;
  width:100%;
  margin:auto;
  color:rgb(2, 2, 17);
  text-align: center;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  
}
.profile-image {
width:100px;
border-radius: 50%;
}

.contact {
 text-align: center;
 width:100%;
 border-bottom: 2px solid lightslategrey;
 font-size: 20px;
 box-shadow: 1px 4px 3px rgb(48, 133, 75);
 }

.contact a {
  color:rgb(61, 192, 100) ;

}

#projects-text  {
  float: right;
  width:70%;
  margin:0; 
  text-align:center;
 
   }

.grid-container {
  display: grid;
grid-template: 50% 50%/50% 50%;
grid-row-gap: 50px;
}   

.grid-item {
  margin:50px;
  background-color: rgb(164, 226, 164);
  border-radius: 5px;
  height:100px;
 width:80%;
 border: 2px solid rgb(12, 105, 28);
 box-shadow: rgb(3, 19, 8);
}

.grid-item a {
text-decoration: none;
color:black;
font-size:25px;

}

.grid-item:hover{
  background-color: rgb(79, 175, 55);
}

input{
  margin: 20px 0 20px 0;
  padding: 5px 0 5px 0;
  width:400px;
}
textarea {
  margin: 10px 0 30px 0;
  padding: 10px;
  width: 380px;
  height:100px;
  
}
 .form-border{
   margin-top: 120px;
   border: 3px solid rgb(12, 105, 28);
   width:30%;
   border-radius: 10px;
  }
.form-text {
  margin-bottom: 20px;
}

footer {
  margin-top:100px;
  border-top: 3px solid rgb(140, 223, 158);
  text-align: right;
  box-shadow: 1px 4px 3px rgb(48, 133, 75);
}

footer:hover {
  color:rgb(157, 226, 140);

}
